<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>네이버 지도 API 길 찾기 예제</title>
    <style>
    #map {
      width: 500px;
      height: 400px;
    }
  </style>
</head>
<body>
<h2>출발지</h2>
<input type="text" id="start" placeholder="출발지 입력">

<h2>도착지</h2>
<input type="text" id="end" placeholder="도착지 입력">

<button onclick="findRoute()">길 찾기</button>

<div id="map"></div>
<script src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=cx9wzfd4z6&callback=initMap"></script>
<script>
   curl "https://naveropenapi.apigw.ntruss.com/map-direction/v1/driving?start=127.1058342,37.359708&goal=129.075986,35.179470&option=trafast" \
	-H "X-NCP-APIGW-API-KEY-ID: {cx9wzfd4z6}" \
	-H "X-NCP-APIGW-API-KEY: {PgmpKKJpxx2SGWgIWgmhjltcCCeGm9Cz3cYah4k0}" -v
  </script>
</body>
</html>


