<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="headerFragment">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=67e976d6b999592753b7dacf13bb3bed&libraries=services"></script>

        <!-- include libraries(jQuery, bootstrap) -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

        <link rel="stylesheet" th:href="@{/css/headerFooter.css}">
        <link rel="stylesheet" th:href="@{/css/reset.css}">
        <link rel="stylesheet" th:href="@{/css/markinfo.css}">
        <link rel="stylesheet" th:href="@{/css/markmodal.css}">
        <link rel="stylesheet" th:href="@{/css/marksearch.css}">
        <!-- 구글폰트 -->
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <!-- Slick.js -->
        <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
        <link rel="stylesheet" type="text/css"
              href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>
        <script type="text/javascript"
                src="http://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

        <title>Mannam 거꾸로 해도 mannaM...</title>
        <link rel="icon" type="image/png" th:href="@{/img/subak.png}">
    </head>

    <body>
    <!-- 대가리 -->
    <header>
        <div class="container">
            <a href="/">
                <img th:src="@{/img/subakmarket.png}" alt="중고 거래부터 동네 정보까지" title="이것은 수박이여 당근이여!">
            </a>
            <nav>
                <ul>
                    <li><a href="">추천</a></li>
<!--                    <li><a href="/board/paging/Notice">공지</a></li>-->
                    <li><a th:href="|/board/paging/${session.category[0]}|">공지</a></li>
                    <li><a th:href="|/board/paging/${session.category[1]}|">건의</a></li>
                    <li class="">
                        <a class="" href="/kakaomap">지도</a>
                    </li>
<!--                    <li class="">-->
<!--                        <a class="" href="/kakaomarkmap">등록된 마커</a>-->
<!--                    </li>-->
                    <th:block th:if="${session.principal != null}">
                    <li class="">
                        <a class="" th:href="@{/kakaomarkmap/{userid}(userid=${session.principal.getId()})}">등록된 마커</a>
<!--                        th:href="@{/post/updatePost/{id}(id=${post.id})}"-->
                    </li>
                    </th:block>
<!--                    <li class="">-->
<!--                        <a class="" href="/root2">등록된 마커</a>-->
<!--                    </li>-->
                    <li><a class="" href="">게시판</a>
                        <div class="subNav">
                            <ul th:each="cat : ${session.category}">
                                <th:block th:unless="|${cat.Name == '공지사항' || cat.Name == '건의사항'}|">
                                    <li><a th:href="|/board/paging/${cat}|" th:text="|${cat.Name} 게시판|"></a></li>
                                </th:block>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="search">
                <form action="/board/posts/search" method="GET" class="form-inline p-2 bd-highlight" role="search">
                <input placeholder="물품이나 동네를 검색해보세요">
                <i class="xi-search"></i>
                </form>
                <!--  -->
                <button><a href="/chat">채팅하기</a></button>
                <!--  -->
            </div>
            <th:block th:if="${session.principal == null}">
                <div class="login">
                    <button><a href="/user/login">로그인</a></button>
                    <button><a href="/user/auth/register">회원가입</a></button>
                </div>
            </th:block>

            <th:block th:if="${session.principal != null}">
                <div class="login">
                    <button><a href="/auth/logout">로그아웃</a></button>
                </div>
            </th:block>
        </div>
    </header>
    <aside>
        <nav>
            <ul>
                <li class="edit"><a href="">편집</a></li>
                <li><h5>즐겨찾기</h5></li>
            </ul>
            <hr>
            <ul>
                <li><a href="">헬스 게시판</a></li>
                <li><a href="">자동차 게시판</a></li>
                <li><a href="">+</a></li>
            </ul>
        </nav>
        <div class="arrow">▶</div>
    </aside>

</th:block>