<html  xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="/user/inc/header::headerFragment"/>

<div class="content mt-5 p-5">
    <nav class="container">
        <th:block th:if="${category.Name == '공지사항' || category.Name == '건의사항'}">
            <h2 name="category" th:text="${category.Name}"></h2>
        </th:block>
        <th:block th:unless="${category.Name == '공지사항' || category.Name == '건의사항'}">
            <h2 name="category" th:text="|${category.Name + ' 게시판'}|"></h2>
        </th:block>
        <!-- ADMIN 권한일경우에만 글삭제 권한있음 -->
        <div class="d-flex justify-content-end">
            <!--        <a class="btn btn-danger">글삭제</a>-->
            <a class="btn btn-primary" th:href="|/board/save/${category}/${session.principal.getId()}|">글쓰기</a>
            <input type="hidden" name="userid" id="userid" th:value="${session.principal.username}">
        </div>
        <br>
            <table class="table table-hover">
                <colgroup>
                    <!--          <col width="2%" />-->
                    <col width="5%"/>
                    <col width="20%"/>
                    <col width="5%"/>
                    <col width="5%"/>
                    <col width="5%"/>
                    <!--          <col width="5%" />-->
                </colgroup>
                <thead>
                <tr>
                    <!--          <th>-->
                    <!--            <label class="checkbox-inline">-->
                    <!--              <input type="checkbox" id="allCheckBox" class="chk">-->
                    <!--            </label>-->
                    <!--          </th>-->
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>날짜</th>
                    <th>조회수</th>
                    <!--          <th>파일유무</th>-->
                </tr>
                </thead>

                <tbody>
                <tr th:each="board: ${boardList}">
                    <!--          <td>-->
                    <!--            <label class="checkbox-inline">-->
                    <!--              <input type="checkbox" class="chk" name="chk" value="">-->
                    <!--            </label>-->
                    <!--          </td>-->
                    <td th:text="${board.id}"></td>
                    <td><a th:href="@{|/board/${board.id}|(page=${boardList.number + 1})}"
                           th:text="${board.boardTitle}"></a></td>
                    <td th:text="${board.boardWriter}"></td>
                    <span th:if="${board.boardUpdatedTime == null}">
                        <td th:text="*{#temporals.format(board.boardCreatedTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    </span>
                    <span th:unless="${board.boardUpdatedTime == null}">
                        <td th:text="*{#temporals.format(board.boardUpdatedTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    </span>
                    <td th:text="${board.boardHits}"></td>
                    <!--          <td>이미지</td>-->
                </tr>
                </tbody>
            </table>
            <br>

        <nav class="container d-flex align-items-center justify-content-center"
             aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" th:href="|/board/paging/${category}?page=1${type != null ? '&type=' + type : ''}${keyword != null ? '&keyword=' + keyword : ''}|" aria-label="First">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" th:href="${boardList.first} ? '#' : |/board/paging/${category}?page=${boardList.number}${type != null ? '&type=' + type : ''}${keyword != null ? '&keyword=' + keyword : ''}|" aria-label="Previous">
                        <span aria-hidden="true">&lt;</span>
                    </a>
                </li>
                <span th:each="page: ${#numbers.sequence(startPage, endPage)}">
                        <!-- 현재페이지는 링크 없이 숫자만 -->
                        <li class="page-item disabled">
                            <span class="page-link" th:if="${page == boardList.number + 1}" th:text="${page}"></span>
                        </li>
                        <span th:unless="${boardList.isEmpty()}">
                            <li class="page-item" th:unless="${page == boardList.number + 1}">
                                <a class="page-link" th:href="|/board/paging/${category}?page=${page}${type != null ? '&type=' + type : ''}${keyword != null ? '&keyword=' + keyword : ''}|" th:text="${page}"></a>
                            </li>
                        </span>
                    </span>
                <li class="page-item">
                    <a class="page-link" th:href="${boardList.last} ? '#' : |/board/paging/${category}?page=${boardList.number + 2}${type != null ? '&type=' + type : ''}${keyword != null ? '&keyword=' + keyword : ''}|" aria-label="Next">
                        <span aria-hidden="true">&gt;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" th:href="|/board/paging/${category}?page=${boardList.totalPages}${type != null ? '&type=' + type : ''}${keyword != null ? '&keyword=' + keyword : ''}|" aria-label="Last">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
        <br>
            <form th:action="|/board/paging/${category}|" method="GET" class="input-group d-flex justify-content-center" role="search">
            <select name="type">
                <option selected value="">검색 내용 선택</option>
                <option value="title">제목</option>
                <option value="content">내용</option>
                <option value="writer">작성자</option>
            </select>


            <input type="text" name="keyword" class="form-control" id="search" placeholder="키워드 검색">
            <button type="submit" class="btn btn-success">검색</button>
            </form>
        <br>
    </nav>
</div>
<!-- 푸터 -->
<th:block th:replace="/user/inc/footer::footerFragment"/>
</body>
</html>