<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="/user/inc/header::headerFragment"/>
<!-- summerNote -->
<script src="/js/summernote/summernote-lite.js"></script>
<script src="/js/summernote/lang/summernote-ko-KR.js"></script>
<link rel="stylesheet" href="/css/summernote/summernote-lite.css">

<div class="content mt-5 p-5">
    <article>
        <form class="container mt-5 mb-5" action="/board/save" method="post" enctype="multipart/form-data">
            <div class="d-flex">
                <div class="pt-2" style="width: 62px;">제목</div>
                <div class="w-100">
                    <input type="text" class="form-control" name="boardTitle" placeholder="제목을 입력해 주세요">
                </div>
            </div>
            <hr>
            <div class="d-flex justify-content-between">
                <div class="d-flex">
                    <div class="pt-2" style="width: 60px;">작성자</div>
                    <div class="">
                        <input type="text" class="form-control" name="boardWriter" readonly
                               th:value="${session.principal.username}"
                               style="background-color: #ffffff;">
                    </div>
                </div>
                <div class="d-flex">
                    <div class="pt-2" style="width: 80px;">위치공유</div>
                    <select class="form-select form-select-sm" name="pCategory_fk">
                        <th:block th:if="${list == null || list.size() == 0}">
                            <option value="">공유 안함</option>
                        </th:block>
                        <th:block th:if="${list != null || list.size() != 0}">
                            <th:forEach var="dto" items="${list}">
                                <option value="${dto.markname}">1</option>
                            </th:forEach>
                        </th:block>
                    </select>
                </div>
                <div class="d-flex">
                    <div class="pt-2" style="width: 80px;">카테고리</div>
                    <div class="">
                        <input type="text" class="form-control" name="categoryName" readonly
                               th:value="${category.Name}"
                               style="text-align: center; width: 160px; background-color: #ffffff;">
                        <input type="text" name="BoardCategory" th:value="${category}" hidden>
                    </div>
                </div>
            </div>
            <hr>
            <div>
                <textarea id="summernote" class="summernote" name="boardContents" maxlength="140" rows="7"></textarea>
                <br>
            </div>
            <hr>
            <br>
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary" id="btnSave">저장</button>
                <a th:href="|/board/paging/${category}|"><button type="button" class="btn btn-success" id="btnList" style="margin-left: 10px">목록</button></a>
            </div>
        </form>
    </article>
</div>
<script src="/js/summernote/summernoteSetting.js"></script>
<!-- 푸터 -->
<th:block th:replace="/user/inc/footer::footerFragment"/>
</body>
</html>