<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="/user/inc/header::headerFragment"/>

<link rel="stylesheet" th:href="@{/css/index.css}">

<div class="bd">
    <div class="bd-slider">
        <div><img class="pic1" src="./img/1.PNG" style="max-width: 100%; height: auto;"></div>
        <div><img class="pic2" src="./img/2.PNG" style="max-width: 100%; height: 485px;"></div>
        <div><img class="pic3" src="./img/3.PNG" style="max-width: 100%; height: 485px;"></div>
    </div>
</div>
<!-- 섹션2 홈 -->
<section class="home">
    <div class="content">
        <div class="image">
            <img
                    src="https://d1unjqcospf8gs.cloudfront.net/assets/home/main/3x/image-1-39ac203e8922f615aa3843337871cb654b81269e872494128bf08236157c5f6a.png"
                    alt="함께 만들어요 중고나라">
        </div>
        <div class="title">
            <h1>
                우리 동네<br>
                중고 직거래 마켓
            </h1>
            <p>
                동네 주민들과 가깝고 따뜻한 거래를 지금 경험해보세요.
            </p>
            <div class="home-buttons">
                <a href="#">인기매물 보기</a>
                <a href="#">믿을 수 있는 중고거래</a>
            </div>
        </div>
    </div>
</section>

<!-- 회원게시물 -->
<section class="items">
    <div class="content">
        <h1>중고거래 인기매물</h1>
        <div class="item-list">
            <div class="card">
                <div class="image">
                    <a href="https://www.daangn.com/articles/578286332">
                        <img
                                src="https://dnvefa72aowie.cloudfront.net/origin/article/202212/9de9bab1f214e06bd5be50f7f32da33675d2bacf7ff58c11feab32d1c7979592.webp?q=82&s=300x300&t=crop"
                                alt="">
                    </a>
                </div>
                <div class="desc">
                    <h2>선반</h2>
                    <div class="price">1,000원</div>
                    <div class="region">울산 북구 농소 3동</div>
                    <div class="counts">
                        관심 7 ∙ 채팅 46
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img
                            src="https://dnvefa72aowie.cloudfront.net/origin/article/202212/9de9bab1f214e06bd5be50f7f32da33675d2bacf7ff58c11feab32d1c7979592.webp?q=82&s=300x300&t=crop"
                            alt="">
                </div>
                <div class="desc">
                    <h2>선반</h2>
                    <div class="price">1,000원</div>
                    <div class="region">울산 북구 농소 3동</div>
                    <div class="counts">
                        관심 7 ∙ 채팅 46
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img
                            src="https://dnvefa72aowie.cloudfront.net/origin/article/202212/9de9bab1f214e06bd5be50f7f32da33675d2bacf7ff58c11feab32d1c7979592.webp?q=82&s=300x300&t=crop"
                            alt="">
                </div>
                <div class="desc">
                    <h2>선반</h2>
                    <div class="price">1,000원</div>
                    <div class="region">울산 북구 농소 3동</div>
                    <div class="counts">
                        관심 7 ∙ 채팅 46
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img
                            src="https://dnvefa72aowie.cloudfront.net/origin/article/202212/9de9bab1f214e06bd5be50f7f32da33675d2bacf7ff58c11feab32d1c7979592.webp?q=82&s=300x300&t=crop"
                            alt="">
                </div>
                <div class="desc">
                    <h2>선반</h2>
                    <div class="price">1,000원</div>
                    <div class="region">울산 북구 농소 3동</div>
                    <div class="counts">
                        관심 7 ∙ 채팅 46
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img
                            src="https://dnvefa72aowie.cloudfront.net/origin/article/202212/9de9bab1f214e06bd5be50f7f32da33675d2bacf7ff58c11feab32d1c7979592.webp?q=82&s=300x300&t=crop"
                            alt="">
                </div>
                <div class="desc">
                    <h2>선반</h2>
                    <div class="price">1,000원</div>
                    <div class="region">울산 북구 농소 3동</div>
                    <div class="counts">
                        관심 7 ∙ 채팅 46
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img
                            src="https://dnvefa72aowie.cloudfront.net/origin/article/202212/9de9bab1f214e06bd5be50f7f32da33675d2bacf7ff58c11feab32d1c7979592.webp?q=82&s=300x300&t=crop"
                            alt="">
                </div>
                <div class="desc">
                    <h2>선반</h2>
                    <div class="price">1,000원</div>
                    <div class="region">울산 북구 농소 3동</div>
                    <div class="counts">
                        관심 7 ∙ 채팅 46
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img
                            src="https://dnvefa72aowie.cloudfront.net/origin/article/202212/9de9bab1f214e06bd5be50f7f32da33675d2bacf7ff58c11feab32d1c7979592.webp?q=82&s=300x300&t=crop"
                            alt="">
                </div>
                <div class="desc">
                    <h2>선반</h2>
                    <div class="price">1,000원</div>
                    <div class="region">울산 북구 농소 3동</div>
                    <div class="counts">
                        관심 7 ∙ 채팅 46
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img
                            src="https://dnvefa72aowie.cloudfront.net/origin/article/202212/9de9bab1f214e06bd5be50f7f32da33675d2bacf7ff58c11feab32d1c7979592.webp?q=82&s=300x300&t=crop"
                            alt="">
                </div>
                <div class="desc">
                    <h2>선반</h2>
                    <div class="price">1,000원</div>
                    <div class="region">울산 북구 농소 3동</div>
                    <div class="counts">
                        관심 7 ∙ 채팅 46
                    </div>
                </div>
            </div>
        </div>
        <div class="list">
            <a href="#">인기매물 더 보기</a>
        </div>
    </div>
</section>
<script src="./js/01.js"></script>
<th:block th:replace="/user/inc/footer::footerFragment"/>

</body>
</html>