<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="/user/inc/header::headerFragment"/>

<link rel="stylesheet" th:href="@{/css/index.css}">

<div class="bd" style="margin-top: 60px;">
    <div class="bd-slider">
        <div>
            <div class="today-recommend" src="./img/1.PNG" style="max-width: 100%; height: 100%;">
                <div class="todayTitle d-flex">
                    <h1 class="mb-5">오늘의 추천</h1><h1 class="top5" style="margin-left: 10px;">TOP 5</h1>
                </div>
                <th:block th:unless="${todayTopFiveList.isEmpty()}">
                    <div style="display: flex; height: 300px;">
                        <div class="card" style="width: 50%; height: 100%; padding: 0 10px 10px 10px; margin-right: 10px;">
                            <div class="card-body">
                                <ul class="popular_post_list__2rxvW">
                                    <li class="popular_post_item__3455R mb-2">
                                            <a class="popular_post_card__2inlT" th:href="|board/${todayTopFiveList[0].id}|">
                                                <div class="popular_post_info__18n7T"><div class="popular_post_info_title__3cuMM">
                                                    <strong class="popular_post_title__3SdcZ" th:text="${todayTopFiveList[0].boardTitle}"></strong>
                                                    <img src="/img/1st-prize.png" alt="" style="width: 30px;height: 30px; margin-left: 10px;">
                                                    </span>
                                                </div>
                                                    <div class="popular_post_user__35iXd">
                                                        <div class="popular_post_profile_image_area__3H6ls">
                                                            <div class="styles_CommonProfile__l3I4a CommonProfile" style="width: 18px; height: 18px;">
                                                                <div class="styles_wrapProfileImage__1Mf-c">
                                                                    <img class="styles_profileImage__1RP6R" src="https://ssl.pstatic.net/cmstatic/nng/img/img_anonymous_square_gray_opacity2x.png" width="18" height="18" alt="전설의 파괴왕 8988">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <span class="popular_post_name__3pWNs" th:text="${todayTopFiveList[0].boardWriter}"></span>
                                                        <span class="popular_post_sub__3nHs0" th:text="|조회수: ${todayTopFiveList[0].boardHits}|"></span>
                                                        <span class="popular_post_sub__3nHs0">
                                                <span class="popular_post_num__1Fw4M" th:text="|추천수: ${todayTopFiveList[0].likeCount}|"></span>
                                            </span>
                                                    </div>
                                                </div>
                                            </a>
                                    </li>
                                </ul>
                                <div class="form-control p-4" name="boardContents" th:utext="${todayTopFiveList[0].boardContents}" style="height: 180px; overflow: hidden;"></div>
                                <hr id="hrBottom">
                            </div>
                        </div>
                        <div class="card" style="width: 50%; padding: 0 10px 10px 10px; margin-left: 10px;">
                            <ul class="popular_post_list__2rxvW">
                                <li class="popular_post_item__3455R" th:each="board: ${todayTopFiveList}">
                                    <th:block th:if="${board != todayTopFiveList[0]}">
                                    <a class="popular_post_card__2inlT" th:href="|board/${board.id}|">
                                        <div class="popular_post_info__18n7T"><div class="popular_post_info_title__3cuMM">
                                            <strong class="popular_post_title__3SdcZ" th:text="${board.boardTitle}"></strong>
<!--                                            <span class="popular_post_new__VUMbO">-->
                                                <th:block th:if="${board == todayTopFiveList[1]}">
                                                    <span><img src="/img/2nd-place.png" alt="" style="width: 20px; height: 20px;"></span>
                                                </th:block>
                                                <th:block th:if="${board == todayTopFiveList[2]}">
                                                    <span><img src="/img/3rd-place.png" alt="" style="width: 20px; height: 20px;"></span>
                                                </th:block>
                                                <span class="blind">NEW</span>
                                            </span>
                                        </div>
                                            <div class="popular_post_user__35iXd">
                                            <div class="popular_post_profile_image_area__3H6ls">
                                                <div class="styles_CommonProfile__l3I4a CommonProfile" style="width: 18px; height: 18px;">
                                                    <div class="styles_wrapProfileImage__1Mf-c">
                                                        <img class="styles_profileImage__1RP6R" src="https://ssl.pstatic.net/cmstatic/nng/img/img_anonymous_square_gray_opacity2x.png" width="18" height="18" alt="전설의 파괴왕 8988">
                                                    </div>
                                                </div>
                                            </div>
                                            <span class="popular_post_name__3pWNs" th:text="${board.boardWriter}"></span>
                                            <span class="popular_post_sub__3nHs0" th:text="|조회수: ${board.boardHits}|"></span>
                                            <span class="popular_post_sub__3nHs0">
                                                <span class="popular_post_num__1Fw4M" th:text="|추천수: ${board.likeCount}|"></span>
                                            </span>
                                        </div>
                                        </div>
                                    </a>
                                    </th:block>
                                </li>
                            </ul>
                        </div>
                    </div>
                </th:block>
                <th:block th:if="${todayTopFiveList.isEmpty()}">
                    <div class="emptyTop5">
                        <h2>오늘은 아직 인기게시물이 없습니다.</h2>
                    </div>
                </th:block>
            </div>
        </div>
        <div><img class="" src="/img/mainBanner.png" style="max-width: 100%; width: auto; height: auto;"></div>
    </div>
</div>
<!-- 섹션2 홈 -->
<section class="home">
    <div class="content">
        <div class="image">
            <img
                    src="https://media.istockphoto.com/id/1223631367/pl/wektor/wielokulturowa-grupa-ludzi-stoi-razem-zesp%C3%B3%C5%82-koleg%C3%B3w-student%C3%B3w-szcz%C4%99%C5%9Bliwych-m%C4%99%C5%BCczyzn-i.jpg?s=612x612&w=0&k=20&c=Cmtk-iQtlK1iVpm4GMduN9k7tLL3S6S5zKT937PP1WQ="
                    alt="함께 만들어요 중고나라">
        </div>
        <div class="title">
            <h1>
                우리 동네<br>
                커뮤니티
            </h1>
            <p>
                동네 주민들과 가깝고 따뜻한 소통을 지금 경험해보세요.
            </p>
            <div class="home-buttons">
                <a href="#">인기채팅 보기</a>
                <a href="#">건의하기</a>
            </div>
        </div>
    </div>
</section>

<!-- 회원게시물 -->
<section class="items">
<!--    <div class="custom_inner__132IP" style="text-align : center; line-height:342px;">-->
    <div class="custom_inner__132IP" style="display:flex;justify-content: center;">
        <div class="popular_post_wrap__ovgMo" style="width:500px;">
            <div class="popular_post_title_area__3npoJ">
                <strong class="popular_post_title__3SdcZ">게시판 최신글</strong>
    <!--            <a class="popular_post_more__2_aQv" href="/">더보기</a>-->
            </div>
            <div class="popular_post_content__Gs2Nm">

            <ul class="popular_post_list__2rxvW">
                <li class="popular_post_item__3455R" th:each="board: ${boardList}">
                    <a class="popular_post_card__2inlT" th:href="|board/${board.id}|">
                        <div class="popular_post_info__18n7T"><div class="popular_post_info_title__3cuMM">
                            <strong class="popular_post_title__3SdcZ" th:text="${board.boardTitle}"></strong>
                            <span class="popular_post_new__VUMbO">
                                <span class="blind">NEW</span>
                            </span></div><div class="popular_post_user__35iXd">
                            <div class="popular_post_profile_image_area__3H6ls">
                                <div class="styles_CommonProfile__l3I4a CommonProfile" style="width: 18px; height: 18px;">
                                    <div class="styles_wrapProfileImage__1Mf-c">
                                        <img class="styles_profileImage__1RP6R" src="https://ssl.pstatic.net/cmstatic/nng/img/img_anonymous_square_gray_opacity2x.png" width="18" height="18" alt="전설의 파괴왕 8988">
                                    </div>
                                </div>
                            </div>
                            <span class="popular_post_name__3pWNs" th:text="${board.boardWriter}"></span>
                            <span class="popular_post_sub__3nHs0" th:text="|조회수: ${board.boardHits}|"></span>
                            <span class="popular_post_sub__3nHs0">
                                <span class="popular_post_num__1Fw4M" th:text="|추천수: ${board.likeCount}|"></span>
                            </span>
                        </div>
                        </div>
                    </a>
                </li>
            </ul>
            </div>
        </div>

        <div class="popular_post_wrap__ovgMo" style="width:500px;">
            <div class="popular_post_title_area__3npoJ">
                <strong class="popular_post_title__3SdcZ">공지사항</strong>
                            <a class="popular_post_more__2_aQv" th:href="|/board/paging/${session.category[1]}|">더보기</a>
            </div>
            <div class="popular_post_content__Gs2Nm">

            <ul class="popular_post_list__2rxvW">
                <li class="popular_post_item__3455R" th:each="board: ${NoticList}">
                    <a class="popular_post_card__2inlT" th:href="|board/${board.id}|">
                        <div class="popular_post_info__18n7T"><div class="popular_post_info_title__3cuMM">
                            <strong class="popular_post_title__3SdcZ" th:text="${board.boardTitle}"></strong>
                            <span class="popular_post_new__VUMbO">
                            <span class="blind">NEW</span>
                        </span></div><div class="popular_post_user__35iXd">
                            <div class="popular_post_profile_image_area__3H6ls">
                                <div class="styles_CommonProfile__l3I4a CommonProfile" style="width: 18px; height: 18px;">
                                    <div class="styles_wrapProfileImage__1Mf-c">
                                        <img class="styles_profileImage__1RP6R" src="https://ssl.pstatic.net/cmstatic/nng/img/img_anonymous_square_gray_opacity2x.png" width="18" height="18" alt="전설의 파괴왕 8988">
                                    </div>
                                </div>
                            </div>
                            <span class="popular_post_name__3pWNs" th:text="${board.boardWriter}"></span>
                            <span class="popular_post_sub__3nHs0" th:text="|조회수: ${board.boardHits}|"></span>
                            <span class="popular_post_sub__3nHs0">
                            <span class="popular_post_num__1Fw4M" th:text="|추천수: ${board.likeCount}|"></span>
                        </span>
                        </div>
                        </div>
                    </a>
                </li>
            </ul>
            </div>
        </div>
    </div>
</section>
<script src="./js/01.js"></script>
<th:block th:replace="/user/inc/footer::footerFragment"/>

</body>
</html>